anyio
attrs
bcrypt
blis
catalogue
certifi
cffi
click
colorama
cymem
fastapi
h11
idna
iniconfig
jinja2
langcodes
makefun
markupsafe
motor
murmurhash
numpy
packaging
passlib
pathy
pluggy
preshed
py
pycparser
pyjwt
pyparsing
python-dotenv
python-multipart
requests
six
smart-open
sniffio
spacy-legacy
spacy-loggers
spacy
srsly
starlette
thinc
tomli
tqdm
typer
typing-extensions
urllib3
uvicorn
wasabi
bson
pydantic
pymongo