fastapi
uvicorn
bson
anyio
app
attrs
bcrypt
black
blis
catalogue
certifi
cffi
charset-normalizer
click
cryptography
cymem
dnspython
email-validator
fastapi
fastapi-users
h11
idna
iniconfig
jinja2
langcodes
makefun
markupsafe
mccabe
motor
murmurhash
mypy-extensions
numpy
packaging
passlib
pathspec
pathy
platformdirs
pluggy
preshed
py
pycparser
pydantic
pyjwt
pymongo
pyparsing
pytest
python-dotenv
python-multipart
requests
six
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
srsly
starlette
thinc
tomli
tqdm
typer
typing-extensions
urllib3
uvicorn
wasabi
